.create-new-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.model-viewer {
  width: 50%;
  height: 80%;
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-panel {
  width: 50%;
  height: 80%;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.upload-button {
  background-color: #222;
  color: white;
  padding: 1rem 2.5rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.upload-button:hover {
  background-color: #000;
}


.controls-panel {
  background-color: #ffffffdd;
  padding: 10px;
  border-radius: 8px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: black;
}
